@using TaskManagementSystem.Models
@model LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <div>
            @Html.LabelFor(model => model.Email, new { @class = "" })
            @Html.EditorFor(model => model.Email)
        </div>
        <div>
            @Html.LabelFor(model => model.Password, new { @class = "" })
            @Html.PasswordFor(model => model.Password, new { @class = "" })
        </div>
        <div>
            @Html.CheckBoxFor(model => model.RememberMe, new { @class = "" })
            @Html.LabelFor(model => model.RememberMe, new { @class = "" })
        </div>
        <div>
            @Html.ValidationSummary(true, "", new { @class = "" })
        </div>
        <input class="submit-btn" type="submit" value="Login" />
    </div>
}

